bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
**/.idea/
indexLayout.xml
*indexLayout.xml
CIME/modules/Cime.Auth/.vs/Cime.Auth/config/applicationhost.config
CIME/modules/Cime.Auth/.vs/Cime.Auth/DesignTimeBuild/.dtbcache.v2
CIME/modules/Cime.Auth/.vs/Cime.Auth/FileContentIndex/e405cdb3-15f3-42c6-ac29-fad9c4eb03f2.vsidx
CIME/modules/Cime.Auth/.vs/Cime.Auth/v17/.suo
CIME/modules/Cime.Auth/.vs/Cime.Auth/v17/DocumentLayout.json
CIME/modules/Cime.BuildingBlocks/.vs/Cime.BuildingBlocks/DesignTimeBuild/.dtbcache.v2
CIME/modules/Cime.BuildingBlocks/.vs/Cime.BuildingBlocks/v17/.suo
CIME/modules/Cime.BuildingBlocks/.vs/Cime.BuildingBlocks/v17/DocumentLayout.backup.json
CIME/modules/Cime.BuildingBlocks/.vs/Cime.BuildingBlocks/v17/DocumentLayout.json
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/config/applicationhost.config
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/DesignTimeBuild/.dtbcache.v2
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/FileContentIndex/b75be004-75f0-4dea-acbb-cb857dc5f978.vsidx
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/v17/.suo
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/v17/DocumentLayout.backup.json
CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/v17/DocumentLayout.json
CIME/modules/Cime.BuildingBlocks/.vs/Cime.BuildingBlocks/FileContentIndex/14308677-3073-41b0-8b0d-8c0358578681.vsidx
/CIME/modules/.vs
/CIME/modules/Cime.Auth/.vs
/CIME/modules/Cime.BuildingBlocks/.vs
/CIME/modules/Solvace.PullRequests/.vs/Solvace.PullRequests/FileContentIndex
/CIME/modules/Solvace.PullRequests/src/solvace.prform.api/appsettings.Development.json
/CIME/modules/Solvace.PullRequests/src/solvace.prform.api/appsettings.json
